@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 4.95% 19.8%;
    --foreground: 240 6.25% 93.73%;
    --muted: 260 4.23% 13.92%;
    --muted-foreground: 0 3% 73%;
    --popover: 270 5% 23.53%;
    --popover-foreground: 240 6.25% 93.73%;
    --card: 270 5% 23.53%;
    --card-foreground: 240 6.25% 93.73%;
    --border: 260 4.23% 13.92%;
    --input: 257.14 4.7% 29.22%;
    --primary: 276.23 26.96% 63.14%;
    --primary-foreground: 240 6.25% 93.73%;
    --secondary: 258 7.04% 45.99%;
    --secondary-foreground: 240 0% 100%;
    --accent: 270 5% 23.53%;
    --accent-foreground: 240 6.25% 93.73%;
    --destructive: 360 73.92% 58.7%;
    --destructive-foreground: 0 0% 100%;
    --ring: 260 4.23% 13.92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply min-h-screen;
  }
}
