@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 4.17% 9.41%;
    --foreground: 150 5.56% 92.94%;
    --muted: 160 3.7% 15.88%;
    --muted-foreground: 157.5 5.13% 69.41%;
    --popover: 150 3.03% 12.94%;
    --popover-foreground: 74 39% 98%;
    --card: 150 3.03% 12.94%;
    --card-foreground: 150 5.56% 92.94%;
    --border: 150 3.51% 22.35%;
    --input: 156 3.55% 27.65%;
    --primary: 164.29 50% 32.94%;
    --primary-foreground: 150 0% 100%;
    --secondary: 154.29 3.7% 37.06%;
    --secondary-foreground: 150 5.56% 92.94%;
    --accent: 156 3.55% 27.65%;
    --accent-foreground: 150 5.56% 92.94%;
    --destructive: 352.41 98% 61.58%;
    --destructive-foreground: 150 0% 100%;
    --ring: 150 3.51% 22.35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply min-h-screen;
  }
}
