@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--gray-2);
    --background-alt: var(--gray-3);

    --foreground: var(--gray-12);
    --foreground-alt: var(--gray-11);
    --foreground-alt-2: var(--gray-10);
    --foreground-alt-3: var(--gray-9);

    --primary: var(--violet-11);
    --primary-alt: var(--violet-7);
    --primary-alt-2: var(--violet-6);

    --popover: var(--gray-5);
    --card: var(--gray-6);
    --secondary: var(--gray-8);
    --secondary-alt: var(--gray-7);
    --accent: var(--gray-4);

    --destructive: 0 60% 50%;
    --destructive-alt: 0 60% 40%;

    --muted: var(--gray-2);
    --border: var(--gray-4);
    --border-alt: var(--gray-6);
    --ring: var(--gray-4);
    --input: var(--gray-3);
    --input-alt: var(--gray-6);

    --violet-1: 262 12% 9%;
    --violet-2: 271 16% 14%;
    --violet-3: 232 33% 24%;
    --violet-4: 261 37% 33%;
    --violet-5: 265 40% 38%;
    --violet-6: 263 41% 43%;
    --violet-7: 257 33% 49%;
    --violet-8: 246 48% 54%;
    --violet-9: 249 56% 69%;
    --violet-10: 253 40% 63%;
    --violet-11: 244 68% 83%;
    --violet-12: 237 28% 93%;

    --gray-1: 240 5% 7%;
    --gray-2: 240 5% 10%;
    --gray-3: 240 5% 14%;
    --gray-4: 240 5% 17%;
    --gray-5: 240 5% 19%;
    --gray-6: 240 5% 23%;
    --gray-7: 240 5% 29%;
    --gray-8: 240 5% 38%;
    --gray-9: 240 5% 50%;
    --gray-10: 240 5% 60%;
    --gray-11: 240 5% 76%;
    --gray-12: 240 4% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: hsl(var(--gray-5));
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--gray-7));
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--gray-8));
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .overflow-anchor-none {
    overflow-anchor: none;
  }

  .chat-scroll::-webkit-scrollbar-track {
    background: hsl(var(--gray-3));
  }
  .chat-scroll::-webkit-scrollbar-thumb {
    background: hsl(var(--gray-6));
  }
  .chat-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--gray-7));
  }
}
